.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}



#newquery {
	margin: 0 0 0 30px;
}


.hidden {
	opacity: 0;
	display:none;
}

.spinner {
    /* Size and position */
    font-size: 40px; /* 1em */
    width: 1em;
    height: 1em;
    position: relative;
    margin-right:  10px;
 
    /* Styles */
    border-radius: 50%;
    background: #FF4F72; /* Fallback */
    background:
        linear-gradient(#B0C4DE 50%, #EEEEEE 50%), /* First column */
        linear-gradient(#EEEEEE 50%, #B0C4DE 50%); /* Second column */
    background-position:
        0 0,    /* Position of 1st column */
        100% 0; /* Position of 2nd column */
    background-size: 50% 100%; /* Contraction of "50% 100%, 50% 100%" */
    background-repeat: no-repeat;
    box-shadow:
        inset 0 0 0 .12em rgba(0,0,0,0.2), /* Inner border */
        0 0 0 .12em rgba(255,255,255,0.1); /* Outter border */
    opacity: 0.7;
    animation: rota 3s infinite alternate;
}

.spinner:after {
    /* Size */
    content: "";
    width: 50%;
    height: 50%;
 
    /* Perfect centering */
    position: absolute;
    top: 25%;
    left: 25%;
 
    /* Styles */
    border: .12em solid rgba(255,255,255,0.3);
    border-radius: inherit;
}

@keyframes rota {
    25%  { transform: rotate(270deg); }
    50%  { transform: rotate( 90deg); }
    75%  { transform: rotate(360deg); }
    100% { transform: rotate(180deg); }
}

.spinner {
	float:left;
	position: relative;
}

#loading {
	color: black;
}

.querybox {
	padding-top: 10px;
}